* {
    padding: 0;
    margin: 0;
}

h1 {
    color: blue;
    font-size: 30px;
}

<<<<<<< HEAD
=======
nav{
	color: #ffffff;
	padding: 30px;
	font-size: 25px;
}
>>>>>>> 938a3cdeae41bed602fae10cf12170345552ead1
.menu {
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
}

.header .container {
    display: flex;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    color: blue;
    font-size: 30px;
}

.header .navbar {
    color: #ffffff;
    padding: 30px;
    font-size: 25px;
}

.menu {
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
}

.h1 {
<<<<<<< HEAD
    color: #fff;
}
=======
	color: #fff;
}
>>>>>>> 938a3cdeae41bed602fae10cf12170345552ead1
