* {
	padding: 0;
	margin: 0;
}

h1 {
	color: blue;
	font-size: 30px;
}

.menu {
	color: #ffffff;
	font-size: 16px;
	padding: 20px;
}

.header .container {
	display: flex;
}

* {
	padding: 0;
	margin: 0;
}

h1 {
	color: blue;
	font-size: 30px;
}

.header .navbar {
	color: #ffffff;
	padding: 30px;
	font-size: 25px;
}

.menu {
	color: #ffffff;
	font-size: 16px;
	padding: 20px;
}

.h1 {
	color: #fff;
}
h2 {
	background-color: #fff;
	font-size: 28px;
}
.carousel img {
	width: 100%;
}
h6 {
	color: #000;
}
h3 {
	color: white;

}

